body {
    margin: 0;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

canvas {
    background-color: #000;
    border: 2px solid white;
}

#touch-controls {
    display: none; /* Oculto por defecto */
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    user-select: none; /* Evita la selección de texto */
}

.touch-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.control-btn {
    width: 60px;
    height: 60px;
    background: rgba(128, 128, 128, 0.5);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
}

/* Media Query para mostrar los controles solo en dispositivos táctiles */
@media (hover: none) and (pointer: coarse) {
    #touch-controls {
        display: block;
    }
}