body {
    margin: 0;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido hacia arriba */
    height: 100vh;
    color: white;
    font-family: sans-serif;
    padding-top: 20px; /* Añade un poco de espacio arriba */
}

canvas {
    background-color: #000;
    border: 2px solid white;
}

#touch-controls {
    display: block; 
    position: fixed;
    bottom: 5%; /* Lo posiciona más abajo */
    width: 100%;
    user-select: none;
}

.touch-row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.control-btn {
    width: 80px;  /* Hacemos el botón más grande */
    height: 80px; /* Hacemos el botón más grande */
    background: rgba(128, 128, 128, 0.5);
    color: white;
    font-size: 36px; /* Hacemos la flecha más grande */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 25px; /* Aumentamos la separación */
    cursor: pointer;
}